ion-content{
    --background: url("../../assets/images/bg.png") no-repeat center center fixed;
    padding: 10px;
}

:host {
    --background: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, transparent)));
     box-shadow: none !important
}
ion-card-content{
    display: grid;
    text-align: center;
    justify-content: center;
}
.start-btns{
    bottom: 20px;
    right: 75px;
    display: grid;
    position: fixed;
    justify-content: center;
    text-align: center;  
}
.login-btn{
    border: none;
    padding: 15px 70px;
    border-radius: 10px;
    display: block;
    margin: auto;
    background: #d189ce;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(178,97,234,255);
    -moz-box-shadow: 0px 9px 15px -11px rgba(178,97,234,255);
    box-shadow: 0px 9px 15px -11px rgba(178,97,234,255);


    ion-icon{
        position: absolute;
        overflow: hidden;
        width: 2rem;
        height: 2rem;
        padding: 4px;
        margin-left: 180px;
        border-radius: 100%;
        background: #c380db;
        color: #fff;
        font-weight: bold;
      }

      .active{
        --background: #c380db;
      }
      .hover{
        --background: #c380db;
      }
   
  }
 
 
.text-tag{
    display: flex;
    position: fixed;
    justify-content: center;
    text-align: center;
    left: 25%;
    bottom: 200px !important;

    span{
        font-size: 40px;
        font-weight: 600;
    }
}
.image-block{
    margin-top: 70px;
    padding: 20px;
}
