
<ion-header class="ion-no-border" [translucent]="true"> 
 
</ion-header>
<ion-content [fullscreen]="true">
  <div class="image-block">
    <ion-img src="../../assets/images/welcome-2.svg"></ion-img>
  </div>
  <div class="lg:flex">
    <div class="lg:w-1/2 xl:max-w-screen-sm">      
        <h1 class="mt-4 mb-4 text-center" size="large">Welcome</h1>      
      <div class="mt-4 start-btns">
        <a href="/login" class="login-btn text-gray-100 p-4 w-full tracking-wide
        font-semibold font-display focus:outline-none focus:shadow-outline hover:bg-indigo-600
          shadow-lg">
            Get Started
          </a>
      </div>
    </div>
  </div>
 
</ion-content>
